//Fonts:
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Play);

$bodyBgColor: #232d79;

html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Open Sans";
	background-color: $bodyBgColor;
}

a{
	text-decoration: none;
}

$fontSizeC1: 80;


.content{
	background-color: $bodyBgColor;
	@keyframes slideIn{
		0%{
			transform: translate(-400%, 0);
		}

		100%{
			transform: translate(0%, 0);
		}
	}
	.header{
		//comment this out to remove header slide in animation
		animation:
			slideIn 1.5s ease normal;
		//
		$borderVal: 5px solid white;
		border-bottom: $borderVal;
		border-right: $borderVal;
		width: 90%;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgb(63, 98, 247);
		background-image: linear-gradient(rgb(41, 78, 239) 60%, rgb(0, 0, 255) 100%);
		color: rgb(204, 210, 235);
		border-radius: 0% 0% 10% 0% / 0% 50% 90% 0%;
		.left{
			margin-left: 3%;
			display: flex;
			font-weight: 100;
			font-size: $fontSizeC1 + px;
		}
		.right{
			margin-right: 8%;
			margin-left: 2%;
			display: flex;
			vertical-align: center;
			flex-direction: column;
			font-weight: 300;
			font-size: ($fontSizeC1/2.5) + px;
			.top{

			}
			.bottom{

			}
		}
	}

	.section{
		display: flex;
		width: 100%;
		align-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0);
		justify-content: center;
		.gallery{
			margin-top: 5%;
			align-self: center;
			display: flex;

			$waitTime: 4.5;
			$fadeTime: .5;
			.imageA{
				border-radius: 40px;
				flex-shrink: 0;
				flex-grow: 0;
				height: 0;
				overflow: hidden;
			}
			.imageA1{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 1 * ($waitTime + $fadeTime) + s;
			}
			.imageA2{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 2 * ($waitTime + $fadeTime) + s;
			}
			.imageA3{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 3 * ($waitTime + $fadeTime) + s;
			}
			.imageA4{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 4 * ($waitTime + $fadeTime) + s;
			}
			.imageA5{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 5 * ($waitTime + $fadeTime) + s;
			}



			@keyframes fadeLoop{
				0%{
					height: auto;
					transform: translate(-10%, 0);
					opacity: 1;
				}
				//(($waitTime/(($waitTime + $fadeTime)*10))*100) + %
				18%{
					transform: translate(10%, 0);
					height: auto;
					opacity: 1;
				}
				//((($waitTime + $fadeTime)/(($waitTime + $fadeTime)*10))*100) + %
				20%{
					opacity: 0;
					height: 0;
					overflow: hidden;
				}
				100%{
					opacity: 0;
					height: 0;
					overflow: hidden;
				}
			}

		}
		.links{

		}
	}

	.section1{

	}

	.section2{

	}

	.section3{

	}

	.section4{

	}

	.footer{

	}
}
