//Fonts:
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Play);

$bodyBgColor: #232d79;

html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Open Sans";
	background-color: $bodyBgColor;
}

a{
	text-decoration: none;
}

$fontSizeC1: 80;


.content{
	background-color: $bodyBgColor;
	@keyframes slideIn{
		0%{
			transform: translate(-400%, 0);
		}

		100%{
			transform: translate(0%, 0);
		}
	}
	.header{
		//comment this out to remove header slide in animation
		animation:
			slideIn 1.5s ease normal;
		//
		$borderVal: 5px solid white;
		border-bottom: $borderVal;
		border-right: $borderVal;
		width: 90%;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgb(63, 98, 247);
		background-image: linear-gradient(rgb(41, 78, 239) 60%, rgb(0, 0, 255) 100%);
		color: rgb(204, 210, 235);
		border-radius: 0% 0% 10% 0% / 0% 50% 90% 0%;
		.left{
			margin-left: 3%;
			display: flex;
			font-weight: 100;
			font-size: $fontSizeC1 + px;
		}
		.right{
			margin-right: 8%;
			margin-left: 2%;
			display: flex;
			vertical-align: center;
			flex-direction: column;
			font-weight: 300;
			font-size: ($fontSizeC1/2.5) + px;
			.top{

			}
			.bottom{

			}
		}
	}

	.section{
		display: flex;
		width: 100%;
		align-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0);
		justify-content: center;
		.gallery{
			$imageAWidth: 900;
			//I don't like px values, but this was the easiest solution to making the gallery fade from one image to another

			margin-top: 5%;
			align-self: center;
			display: flex;
			position: relative;

			margin-right: $imageAWidth - 10 + px;
			$waitTime: 7;
			$fadeTime: .5;
			.imageA{
				border-radius: 40px;
				border: 5px solid white;
				flex-shrink: 0;
				flex-grow: 0;
				position: absolute;
			}

			//the following math for the animation times, delay times, and keyframe times could be wrong, but the image display time shouldn't matter *too* much, so it's pretty minor.

			.imageA1{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 0 * $waitTime + 0 * $fadeTime + s;
			}
			.imageA2{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 1 * $waitTime + 1 * $fadeTime + s;
			}
			.imageA3{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 2 * $waitTime + 2 * $fadeTime + s;
			}
			.imageA4{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 3* $waitTime + 3 * $fadeTime + s;
			}
			.imageA5{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 4 * $waitTime + 4 * $fadeTime + s;
			}


			@keyframes fadeLoop{
				0%{
					opacity: 1;
				}
				#{(2*($waitTime/(($waitTime + $fadeTime)*10))*100%)} {
					opacity: 1;
				}
				#{((2*($waitTime + $fadeTime)/(($waitTime + $fadeTime)*10))*100%)} {
					opacity: 0;
				}
				#{100% - (2*($waitTime/(($waitTime + $fadeTime)*10))*100%)} {
					opacity: 0;
				}
				100%{
					opacity: 1;
				}
			}


		}
		.links{

		}
	}

	.section1{

	}

	.section2{

	}

	.section3{

	}

	.section4{

	}

	.footer{

	}
}
