//Fonts:
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Play);

$bodyBgColor: #232d79;

html, body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Open Sans";
	background-color: $bodyBgColor;
}

a{
	text-decoration: none;
}

$fontSizeC1: 80;


.content{
	background-color: $bodyBgColor;
	@keyframes slideIn{
		0%{
			transform: translate(-400%, 0);
		}

		100%{
			transform: translate(0%, 0);
		}
	}
	.header{
		//comment this out to remove header slide in animation
		animation:
			slideIn 1.5s ease normal;
		//
		$borderVal: 5px solid white;
		border-bottom: $borderVal;
		border-right: $borderVal;
		width: 90%;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgb(63, 98, 247);
		background-image: linear-gradient(rgb(41, 78, 239) 60%, rgb(0, 0, 255) 100%);
		color: rgb(204, 210, 235);
		border-radius: 0% 0% 10% 0% / 0% 50% 90% 0%;
		.left{
			margin-left: 3%;
			display: flex;
			font-weight: 100;
			font-size: $fontSizeC1 + px;
		}
		.right{
			margin-right: 8%;
			margin-left: 2%;
			display: flex;
			vertical-align: center;
			flex-direction: column;
			font-weight: 300;
			font-size: ($fontSizeC1/2.5) + px;
			.top{

			}
			.bottom{

			}
		}
	}

	.section{
		display: flex;
		width: 100%;
		align-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0);
		justify-content: center;
		.gallery{

			$imageAHeight: 350; //(in pixels)
			$imageAWidth: 900;
			$imageABorderWidth: 3;
			$imageABorderColor: white;

			$waitTime: 7;
			$fadeTime: .5;

			$imageSAWidth: 10; //(all in px)
			$borderSAWidth: 3;
			$imageSASpacing: 5;
			$imageSABorderColor: white;
			.imageSelector{
				position: relative;
				display: flex;
				align-content: flex-start;
				align-items: baseline;
				z-index: 100;
				margin-top: $imageAHeight - ($imageSAWidth * 1.5 + $borderSAWidth) + px;
				justify-content: flex-start;

				//the following is for styling the buttons
				.labelSA {
					cursor: pointer;
					position: relative;
				}
				.imageSA[type=radio] {
					display: none;
				}
				.labelSA:before {
					content: "";
					display: inline-block;
					width: $imageSAWidth + px;
					height: $imageSAWidth + px;
					background-color: rgb(0, 0, 0);
					border: $borderSAWidth + px solid $imageSABorderColor;
					border-radius: $imageSAWidth + px;


					background-color: #aaa;
				}

				.radio .labelSA:before {
					border-radius: 8px;
				}
				.imageSA[type=radio]:checked + .labelSA:before {
					background-color: rgb(52, 52, 52);
				}
				//end styling for buttons

				.labelSA, .imageSA{
					position: absolute;
					display: flex;
					/*width: $imageSAWidth + px;
					height: $imageSAWidth + px;
					background-color: rgb(0, 0, 0);
					border: $borderSAWidth + px solid rgba(255, 255, 255, 1);
					border-radius: $imageSAWidth + px;*/
				}
				.labelSA1, .imageSA1{
					margin-left: $imageABorderWidth + 2 * $borderSAWidth + px;
				}
				.labelSA2, .imageSA2{
					margin-left: $imageABorderWidth + $imageSAWidth + 4 * $borderSAWidth + $imageSASpacing + px;
				}
				.labelSA3, .imageSA3{
					margin-left: $imageABorderWidth + 2 * $imageSAWidth + 6 * $borderSAWidth + 2 * $imageSASpacing + px;
				}
				.labelSA4, .imageSA4{
					margin-left: $imageABorderWidth + 3 * $imageSAWidth + 8 * $borderSAWidth + 3 * $imageSASpacing + px;
				}
				.labelSA5, .imageSA5{
					margin-left: $imageABorderWidth + 4 * $imageSAWidth + 10 * $borderSAWidth + 4 * $imageSASpacing + px;
				}

				.imageSA[type=radio]:checked + .labelSA:before{

				}
			}




			margin-top: 5%;
			align-self: center;
			display: flex;
			position: relative;

			margin-right: $imageAWidth - 10 + px;
			.imageA{
				z-index: -100;
				width: $imageAWidth + px;
				border-radius: 40px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border: $imageABorderWidth + px solid $imageABorderColor;
				border-bottom: 0px;
				flex-shrink: 0;
				flex-grow: 0;
				position: absolute;
			}

			//the following math for the animation times, delay times, and keyframe times could be wrong, but the image display time shouldn't matter *too* much, so it's pretty minor.

			.imageA1{
				z-index: 10;
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 0 * $waitTime + 0 * $fadeTime + s;
			}
			.imageA2{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 1 * $waitTime + 1 * $fadeTime + s;
			}
			.imageA3{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 2 * $waitTime + 2 * $fadeTime + s;
			}
			.imageA4{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 3* $waitTime + 3 * $fadeTime + s;
			}
			.imageA5{
				animation:
					fadeLoop $waitTime * 5 + $fadeTime * 5 + s linear infinite normal;
				animation-delay: 4 * $waitTime + 4 * $fadeTime + s;
			}


			@keyframes fadeLoop{
				0%{
					opacity: .25;
					z-index: 10;
				}
				#{(($fadeTime/(($waitTime + $fadeTime)*10))*100%)} {
					opacity: 1;
					z-index: 10;
				}
				#{(2*($waitTime/(($waitTime + $fadeTime)*10))*100%)} {
					opacity: 1;
					z-index: 10;
				}
				#{((2*($waitTime + $fadeTime)/(($waitTime + $fadeTime)*10))*100%)} {
					opacity: .5;
					z-index: 5;
				}
				#{100% - (2*($waitTime/(($waitTime + $fadeTime)*10))*100%)} {
					opacity: .5;
					z-index: 5;
				}
				100%{
					opacity: .25;
					z-index: 5;
				}
			}

			.imageTimer{
				position: absolute;
				margin-top: $imageAHeight + $imageABorderWidth + px;
				width: $imageAWidth + px;
				background-size: 200% 100%;
				background-image: linear-gradient(to right, #383e6a 50%, #4a5ce6 50%);
				height: 10px;
				border: $imageABorderWidth + px solid $imageABorderColor;
				border-top: 2px solid $imageABorderColor;
				border-bottom-left-radius: 40px;
				border-bottom-right-radius: 40px;
				animation:
					imageSlider $waitTime * 1 + $fadeTime * 1 + s ease-out infinite normal;
			}

			@keyframes imageSlider{
				0%{
					background-position: 0 0;
				}
				100%{
					background-position: -100% 0;
				}
			}
		}
		.links{

		}
	}

	.section1{

	}

	.section2{

	}

	.section3{

	}

	.section4{

	}

	.footer{

	}
}
